// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

th.actions,
td.actions {
  width: 100px;
  white-space: nowrap;
}
.nav-link.active {
    background: #f5f5f5;
}
